@import 'variables';
@import url("https://roxcelic.github.io/crimtane/styles.css");

#box {
    overflow: hidden;
    margin: auto;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $radius;
}

#player {
    position: relative;
    padding-top: 20px;
    max-width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.box-cas {
    position: relative;
    min-width: $box-width;
    height: $box-height;
    background-image: url('../../../idle01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px;
    transition: all ease-in-out 0.3s;
    top: 0px;
    right: 0px;
    border-radius: $radius;
}
.box-cas *{
    display: none;
}

#walkman {
    width: $box-width;
    height: $box-height;
    background-color: transparent;
    margin: 20px 0;
}
#content {
    min-width: 43vh;
    width: 30vw;
    height: 22vh;
    background-color: transparent;
    margin: auto;
    
}
.warning_text {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
    font-size: small;
}
.red {
    background-color: $box-color;
    min-width: 40vh;
    min-height: 22vh;
    width: 30vw;
    max-height: 40vh;
    padding: 1.5vh;
    text-align: center;
    border-radius: $radius;

    opacity: 0;
    transition: all ease-in-out 0.3s;
    position: absolute;
    display: none;
    flex-wrap: wrap;

    overflow-y: scroll;
    border: solid rgb(201, 10, 74) 2px;
}
p {
    text-align: center;
    width: 100%;
}
.thelitch2 {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 100px;
    right: 25px;
    height: 100px;
    width: 200px;
    max-width: 250px;
    max-height: 250px;

    .child {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 75px;
        height: 75px;
        margin: 7.5px;
    }
}
.thelitch {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 100px;
    left: 25px;
}

#parent {
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-areas: 
        "up up up"
        "left center right"
        "down down down";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

#parent .child {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 75px;
    height: 75px;
}
#parent .child:hover {
    animation-name: active;
    animation-duration: 1s;
}
#parent .child:active {
    animation-name: active;
    animation-duration: 0.3s;
}

#parent .child:nth-child(1) {
    grid-area: up;
}

#parent .child:nth-child(2) {
    grid-area: left;
}

#parent .child:nth-child(3) {
    grid-area: center;
}

#parent .child:nth-child(4) {
    grid-area: right;
}

#parent .child:nth-child(5) {
    grid-area: down;
}

@media (pointer: coarse), (max-width: 600px) {
    #parent {
        display: grid;
    }
    #parent .child {
        display: flex;
    }
    .thelitch {
        display: flex;
    }
    .thelitch2 {
        display: flex;

        #parent .child {
            display: inline-block;
        }
    }
}

@keyframes active {
    0% {opacity: 1;}
    25% {opacity: 0.5;}
    100% {opacity: 1;}
}

.pfp_block {
    width: 50px;
    height: 50px;
    border-radius: $radius;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
}

.content {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
}

.attached_image {
    max-width: 100%;
    max-height: 10vh;
    height: auto;
    margin: auto;
    border-radius: 5px;
}

h1,h2,h3,h4,h5,h6,p{
    text-align: center;
}