---
import Layout from '../layouts/full.astro';
import Keys from '../comp/keys.astro';

---
<Layout desc="example description" title='example title'>
	<script src="../res/js/script" />
	<div id="box">
		<h1 id="title-text" style="width:100%;text-align: center;">
			loading..
		</h1>
		<div id="player">
			<!--you can add as many of these as you want as long as you update the array in `../res/js/extra/lib.js` -->
			<div class="box-cas" id="casette_1"><p>cassette_1</p></div>
		</div>
		<div id="walkman" />
		<div id="content" class="size">
			<p id="content-view" style="opacity: 0;">ji</p>
			<div id="content_1">
				<!--you must always have 2 .red in a "content" otherwise it wont display properly -->
				<div class="red">
					hi
				</div>
				<div class="red">
					hi^(2)
				</div>
				<!--i find it best to have them structured like this -->
				<div class="red">
					<h1>hi</h1>
					<p>
						look at me, im all centered and cool
					</p>
				</div>
			</div>
		</div>
	</div>
	<!--this is important it allows the site to be used on mobile -->
	<Keys />
</Layout>