---
---
<div style="position:static;">
    <div class="thelitch2">
        <div class="child" id="touch_z" style="background-image: url('../../z.png');"/>
        <div class="child" id="touch_x" style="background-image: url('../../x.png');"/>
        <div class="child" id="touch_c" style="background-image: url('../../c.png');"/>
    </div>
    <div class="thelitch">
        <div id="parent">
            <div class="child" id="touch_up" style="background-image: url('../../Up.png');"/>
            <div class="child" id="touch_left" style="background-image: url('../../Left.png');"/>
            <div style="width: 75px;height:75px"/>
            <div class="child" id="touch_right" style="background-image: url('../../Right.png');"/>
            <div class="child" id="touch_down" style="background-image: url('../../Down.png');"/>
            </div>
          </div>
          <div class="warning_text">
            press 'z' to open the controlls popup
        </div>
    </div>
</div>